[imh-appear]{
    opacity: 0;
}

[imh-appear="GrowFromLeft"] {
    padding: 80px;
    transform-origin: 0 50%;
}

[imh-appear="GrowFromRight"] {
    transform-origin: 100% 50%;
}
[imh-appear="GrowFromTop"]{
    transform-origin: 50% 0%;
}
[imh-appear="GrowFromBottom"]{
    transform-origin: 50% 100%;
}
